*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(155, 126, 173);
}

.tarjeta
{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.tarjeta .cara
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: -5s;
}

.tarjeta .frontal
{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px #000;
}

.tarjeta .frontal img
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjeta .frontal h3
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: black;
    text-align: center;
}

.tarjeta .tracera
{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}

.tarjeta .tracera .link
{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.tarjeta .tracera .link a
{
 color: #f3f3f3;
}

.tarjeta .tracera h3
{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.tarjeta .tracera p
{
    letter-spacing: 1px;
}

.tarjeta:hover .frontal
{
    transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .tracera
{
    transform: perspective(600px) rotateY(360deg);
}